OAuth2Connector: Support for HTTP 201 Created on token endpoint responses

The [OAuth2Connector currently treats only HTTP 200 OK as a successful response](https://github.com/openhab/openhab-core/blob/0d7d0702b6f056ed40f97995b4d063777a7585dc/bundles/org.openhab.core.auth.oauth2client/src/main/java/org/openhab/core/auth/oauth2client/internal/OAuthConnector.java#L359) when requesting an OAuth2 access token.

According to [RFC 6749 §5.1](https://datatracker.ietf.org/doc/html/rfc6749#section-5.1), this behavior is correct and spec-compliant. However, there are OAuth2 providers in the wild that return HTTP 201 Created on successful token requests while otherwise fully conforming to the token response format.

One example i encountered is the [Ostrom API](https://docs.ostrom-api.io/reference/authentication), whose token endpoint responds with 201 Created and a valid JSON body containing `access_token`, `token_type`, and `expires_in`. The documentation does not point out that caveat, but i tested it and saw the HTTP 201 response:

<img width="700" height="152" alt="Image" src="https://github.com/user-attachments/assets/98221e0a-c3f7-4af5-8dcb-f9f59de6edf9" />

I plan to create a binding for that API similar to the tibber binding, but that special behaviour blocks me from using openHAB's [`OAuthClientService`](https://www.openhab.org/javadoc/latest/org/openhab/core/auth/client/oauth2/oauthclientservice)

What do you think about also accepting HTTP 201 Created response status for token endpoint responses? Maybe as optional feature?

Or should i better contact Ostrom and request that they change their API to be RFC compliant?

Ha! Even Ostrom's API spec documents `HTTP 200 OK` for the `/oauth/token` endpoint (https://docs.ostrom-api.io/reference/createoauth2token). So their implementation violates their own spec. I will report that to them and see how it goes.


Ostrom support told me that they plan to fix it (return the proper HTTP 200 OK status). No ETA yet, as they need to inform all current consumers about the upcoming change.